@charset "utf-8";

footer .wrap {
    font-size: 12px;
    margin: 0 auto;
    width: 980px;
}
footer .wrap, footer .container {
    margin-left: auto;
    margin-right: auto;
}
footer .wrap:before, footer .wrap:after, footer .container:before, footer .container:after {
    content: "";
    display: table;
    line-height: 0;
}
header .wrap:after, header .container:after, footer .wrap:after, footer .container:after {
    clear: both;
}
footer hr {
    box-sizing: content-box;
    height: 0;
}
footer hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc -moz-use-text-color #fff;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 5px 0;
}
#footer-p-beta2 {
    margin-top: 20px;
    overflow: hidden;
}
#footer-p-beta2 .copyright {
    line-height: 22px;
    margin-top: 15px;
}
#footer-p-beta2 .copyright:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
#footer-p-beta2 .copyright, #footer-p-beta2 .copyright a {
    color: #999;
}
#footer-p-beta2 .copyright .copy-side {
    background: url("../../images/foot/footer-contact-icon.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    float: left;
    font-size: 14px;
    line-height: 25px;
    padding-top: 50px;
    text-align: center;
    width: 160px;
}
#footer-p-beta2 .copyright .copy-side strong {
    font-size: 20px;
    font-weight: 400;
}
#footer-p-beta2 .copyright .copy-main {
    margin-left: 170px;
    margin-right: -20px;
}
#footer-p-beta2 .copyright .copy-main .item {
    border-left: 1px dotted #d2d2d2;
    float: left;
    height: 128px;
    padding: 0 40px;
}
#footer-p-beta2 .copyright .copy-main .item dl dt {
    color: #666;
    font-size: 14px;
    font-weight: 700;
}
#footer-p-beta2 .copyright .copy-main .item-weibo, #footer-p-beta2 .copyright .copy-main .item-apps {
    color: #666;
    padding: 0 25px;
    text-align: center;
}
#footer-p-beta2 .copyright .copy-main .item-weibo .weibo {
    background: url("../../images/foot/footer-weibo-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    width: 44px;
}
#footer-p-beta2 .copyright .copy-main .item-weibo a.btn-sina {
    background: url("../../images/foot/footer-sina-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin-top: 10px;
    vertical-align: middle;
    width: 62px;
}
#footer-p-beta2 .copyright .copy-main .item-weibo:hover .weibo {
    background-position: 0 -44px;
}
#footer-p-beta2 .copyright .copy-main .item-apps .mishu, #footer-p-beta2 .copyright .copy-main .item-apps .weixin {
    border: 1px solid #ccc;
    display: inline-block;
    height: 78px;
    line-height: 78px;
    vertical-align: middle;
    width: 78px;
}
#footer-p-beta2 .copyright .copy-main .item-apps .mishu {
    background: url("../../images/foot/icon-mishu.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#footer-p-beta2 .copyright .copy-main .item-apps .weixin {
    background: url("/r/164123/p/beta2/images/icons/icon-weixin.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#footer-p-beta2 .copy-footer {
    background: none repeat scroll 0 0 #f6f6f6;
    clear: both;
    color: #999;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
}
#footer-c-beta2 {
    margin-top: 20px;
    overflow: hidden;
}
#footer-c-beta2 .copyright {
    line-height: 22px;
    margin-top: 15px;
}
#footer-c-beta2 .copyright:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
#footer-c-beta2 .copyright, #footer-c-beta2 .copyright a {
    color: #999;
}
#footer-c-beta2 .copyright .copy-side {
    background: url("/r/164123/c/beta2/images/icons/footer-contact-icon.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    float: left;
    font-size: 14px;
    line-height: 25px;
    padding-top: 50px;
    text-align: center;
    width: 160px;
}
#footer-c-beta2 .copyright .copy-side strong {
    font-size: 20px;
    font-weight: 400;
}
#footer-c-beta2 .copyright .copy-main {
    margin-left: 170px;
    margin-right: -20px;
}
#footer-c-beta2 .copyright .copy-main .item {
    border-left: 1px dotted #d2d2d2;
    float: left;
    height: 128px;
    padding: 0 40px;
}
#footer-c-beta2 .copyright .copy-main .item dl dt {
    color: #666;
    font-size: 14px;
    font-weight: 700;
}
#footer-c-beta2 .copyright .copy-main .item-weibo, #footer-c-beta2 .copyright .copy-main .item-apps {
    color: #666;
    padding: 0 25px;
    text-align: center;
}
#footer-c-beta2 .copyright .copy-main .item-weibo .weibo {
    background: url("/r/164123/c/beta2/images/icons/footer-weibo-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    width: 44px;
}
#footer-c-beta2 .copyright .copy-main .item-weibo a.btn-sina {
    background: url("/r/164123/c/beta2/images/icons/footer-sina-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin-top: 10px;
    vertical-align: middle;
    width: 62px;
}
#footer-c-beta2 .copyright .copy-main .item-weibo:hover .weibo {
    background-position: 0 -44px;
}
#footer-c-beta2 .copyright .copy-main .item-apps .mishu, #footer-c-beta2 .copyright .copy-main .item-apps .weixin {
    border: 1px solid #ccc;
    display: inline-block;
    height: 78px;
    line-height: 78px;
    vertical-align: middle;
    width: 78px;
}
#footer-c-beta2 .copyright .copy-main .item-apps .mishu {
    background: url("/r/164123/c/beta2/images/icons/icon-mishu.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#footer-c-beta2 .copyright .copy-main .item-apps .weixin {
    background: url("/r/164123/c/beta2/images/icons/icon-weixin.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#footer-c-beta2 .copy-footer {
    background: none repeat scroll 0 0 #f6f6f6;
    clear: both;
    color: #999;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
}
#footer-h-beta2 {
    margin-top: 20px;
    overflow: hidden;
}
#footer-h-beta2 .copyright {
    line-height: 22px;
    margin-top: 15px;
}
#footer-h-beta2 .copyright:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
#footer-h-beta2 .copyright, #footer-h-beta2 .copyright a {
    color: #999;
}
#footer-h-beta2 .copyright .copy-side {
    background: url("/r/164123/h/beta2/images/icons/footer-contact-icon.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    float: left;
    font-size: 14px;
    line-height: 25px;
    padding-left: 70px;
    width: 200px;
}
#footer-h-beta2 .copyright .copy-side strong {
    font-size: 20px;
    font-weight: 400;
}
#footer-h-beta2 .copyright .copy-main {
    margin-left: 210px;
    margin-right: -20px;
}
#footer-h-beta2 .copyright .copy-main .item {
    border-left: 1px dotted #d2d2d2;
    float: left;
    height: 88px;
    padding: 0 36px;
}
#footer-h-beta2 .copyright .copy-main .item dl dt {
    color: #666;
    font-size: 14px;
    font-weight: 700;
}
#footer-h-beta2 .copyright .copy-main .item-weibo, #footer-h-beta2 .copyright .copy-main .item-apps {
    color: #666;
    padding: 0 25px;
    text-align: center;
}
#footer-h-beta2 .copyright .copy-main .item-weibo .weibo {
    background: url("/r/164123/h/beta2/images/icons/footer-weibo-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    width: 62px;
}
#footer-h-beta2 .copyright .copy-main .item-weibo a.btn-sina {
    background: url("/r/164123/h/beta2/images/icons/footer-sina-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin-top: 5px;
    vertical-align: middle;
    width: 62px;
}
#footer-h-beta2 .copyright .copy-main .item-weibo:hover .weibo {
    background-position: 0 -55px;
}
#footer-h-beta2 .copyright .copy-main .item-apps {
    border-left: 0 none;
    padding-left: 0;
    padding-right: 0;
}
#footer-h-beta2 .copyright .copy-main .item-apps .weixin {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    width: 198px;
}
#footer-h-beta2 .copyright .copy-main .item-apps .weixin {
    background: url("/r/164123/h/beta2/images/icons/icon-weixin.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#footer-h-beta2 .copy-footer {
    background: none repeat scroll 0 0 #f6f6f6;
    clear: both;
    color: #999;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
}
#footer-clt-beta2 {
    background: url("/r/164123/images/v8/footer_line.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    font-family: Arial;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
}
#footer-clt-beta2 p {
    color: #999;
}
#footer-clt-beta2 p a {
    padding: 0 15px;
}
#footer-clt-beta2 p a.normal {
    padding: 0 3px;
}
