<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.orders.OrdersOrderMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.orders.OrdersOrder" >
    <id column="temp_orders_order_order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="temp_orders_order_carrier_member_id" property="carrierMemberId" jdbcType="VARCHAR" />
    <result column="temp_orders_order_order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="temp_orders_order_order_price" property="orderPrice" jdbcType="DECIMAL" />
    <result column="temp_orders_order_order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="temp_orders_order_order_status" property="orderStatus" jdbcType="CHAR" />
    <result column="temp_orders_order_status" property="status" jdbcType="CHAR" />
    <result column="temp_orders_order_distribute_status" property="distributeStatus" jdbcType="CHAR" />
    <result column="temp_orders_order_remark" property="remark" jdbcType="VARCHAR" />
    <result column="temp_orders_order_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_orders_order_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_orders_order_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_orders_order_update_time" property="updateTime" jdbcType="TIMESTAMP" />
	<result column="temp_orders_order_creater_display" property="createrDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_orders_order_updater_display" property="updaterDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 --> 
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_orders_order.order_id as temp_orders_order_order_id, temp_orders_order.carrier_member_id as temp_orders_order_carrier_member_id, 
    temp_orders_order.order_code as temp_orders_order_order_code, temp_orders_order.order_price as temp_orders_order_order_price, 
    temp_orders_order.order_num as temp_orders_order_order_num, temp_orders_order.order_status as temp_orders_order_order_status, 
    temp_orders_order.status as temp_orders_order_status, temp_orders_order.distribute_status as temp_orders_order_distribute_status, 
    temp_orders_order.remark as temp_orders_order_remark, temp_orders_order.creater as temp_orders_order_creater, 
    temp_orders_order.create_time as temp_orders_order_create_time, temp_orders_order.updater as temp_orders_order_updater, 
    temp_orders_order.update_time as temp_orders_order_update_time
		<!-- 以下字段属于扩展 -->
    ,temp_creater.user_cn_name as temp_orders_order_creater_display
    ,temp_updater.user_cn_name as temp_orders_order_updater_display
  </sql>
  <sql id="Base_extend">
  	LEFT JOIN t_user temp_creater ON temp_creater.user_id = temp_orders_order.creater <!-- 扩展 -->
    LEFT JOIN t_user temp_updater ON temp_updater.user_id = temp_orders_order.updater <!-- 扩展 -->
  </sql> 
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.orders.OrdersOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_orders_order temp_orders_order
	 <include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_orders_order temp_orders_order
	 <include refid="Base_extend" />
    where temp_orders_order.order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_orders_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.orders.OrdersOrderExample" >
    delete temp_orders_order from t_orders_order temp_orders_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.orders.OrdersOrder" >
    insert into t_orders_order (order_id, carrier_member_id, order_code, 
      order_price, order_num, order_status, 
      status, distribute_status, remark, 
      creater, create_time, updater, 
      update_time)
    values (#{orderId,jdbcType=VARCHAR}, #{carrierMemberId,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR}, 
      #{orderPrice,jdbcType=DECIMAL}, #{orderNum,jdbcType=INTEGER}, #{orderStatus,jdbcType=CHAR}, 
      #{status,jdbcType=CHAR}, #{distributeStatus,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.orders.OrdersOrder" >
    insert into t_orders_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="carrierMemberId != null" >
        carrier_member_id,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="orderPrice != null" >
        order_price,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="distributeStatus != null" >
        distribute_status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="carrierMemberId != null" >
        #{carrierMemberId,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderPrice != null" >
        #{orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="distributeStatus != null" >
        #{distributeStatus,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.orders.OrdersOrderExample" resultType="java.lang.Integer" >
    select count(*) from t_orders_order temp_orders_order
	 <include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_orders_order temp_orders_order
    <set >
      <if test="record.orderId != null" >
        temp_orders_order.order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.carrierMemberId != null" >
        temp_orders_order.carrier_member_id = #{record.carrierMemberId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderCode != null" >
        temp_orders_order.order_code = #{record.orderCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orderPrice != null" >
        temp_orders_order.order_price = #{record.orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.orderNum != null" >
        temp_orders_order.order_num = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.orderStatus != null" >
        temp_orders_order.order_status = #{record.orderStatus,jdbcType=CHAR},
      </if>
      <if test="record.status != null" >
        temp_orders_order.status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.distributeStatus != null" >
        temp_orders_order.distribute_status = #{record.distributeStatus,jdbcType=CHAR},
      </if>
      <if test="record.remark != null" >
        temp_orders_order.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_orders_order.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_orders_order.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_orders_order.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_orders_order.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_orders_order temp_orders_order
    set temp_orders_order.order_id = #{record.orderId,jdbcType=VARCHAR},
      temp_orders_order.carrier_member_id = #{record.carrierMemberId,jdbcType=VARCHAR},
      temp_orders_order.order_code = #{record.orderCode,jdbcType=VARCHAR},
      temp_orders_order.order_price = #{record.orderPrice,jdbcType=DECIMAL},
      temp_orders_order.order_num = #{record.orderNum,jdbcType=INTEGER},
      temp_orders_order.order_status = #{record.orderStatus,jdbcType=CHAR},
      temp_orders_order.status = #{record.status,jdbcType=CHAR},
      temp_orders_order.distribute_status = #{record.distributeStatus,jdbcType=CHAR},
      temp_orders_order.remark = #{record.remark,jdbcType=VARCHAR},
      temp_orders_order.creater = #{record.creater,jdbcType=VARCHAR},
      temp_orders_order.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_orders_order.updater = #{record.updater,jdbcType=VARCHAR},
      temp_orders_order.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.orders.OrdersOrder" >
    update t_orders_order
    <set >
      <if test="carrierMemberId != null" >
        carrier_member_id = #{carrierMemberId,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderPrice != null" >
        order_price = #{orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="distributeStatus != null" >
        distribute_status = #{distributeStatus,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.orders.OrdersOrder" >
    update t_orders_order
    set carrier_member_id = #{carrierMemberId,jdbcType=VARCHAR},
      order_code = #{orderCode,jdbcType=VARCHAR},
      order_price = #{orderPrice,jdbcType=DECIMAL},
      order_num = #{orderNum,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      distribute_status = #{distributeStatus,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>