<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.orders.OrdersDispatchingMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.orders.OrdersDispatching" >
    <id column="temp_orders_dispatching_dispatching_id" property="dispatchingId" jdbcType="VARCHAR" />
    <result column="temp_orders_dispatching_dispatching_code" property="dispatchingCode" jdbcType="VARCHAR" />
    <result column="temp_orders_dispatching_carrier_id" property="carrierId" jdbcType="VARCHAR" />
    <result column="temp_orders_dispatching_dispatching_goods_deposit" property="dispatchingGoodsDeposit" jdbcType="DECIMAL" />
    <result column="temp_orders_dispatching_dispatching_status" property="dispatchingStatus" jdbcType="CHAR" />
    <result column="temp_orders_dispatching_driver_id" property="driverId" jdbcType="VARCHAR" />
    <result column="temp_orders_dispatching_dispatching_signfor" property="dispatchingSignfor" jdbcType="CHAR" />
    <result column="temp_orders_dispatching_router_id" property="routerId" jdbcType="VARCHAR" />
    <result column="temp_orders_dispatching_car_id" property="carId" jdbcType="VARCHAR" />
    <result column="temp_orders_dispatching_dispatch_time" property="dispatchTime" jdbcType="TIMESTAMP" />
    <result column="temp_orders_dispatching_arrive_time" property="arriveTime" jdbcType="TIMESTAMP" />
    <result column="temp_orders_dispatching_status" property="status" jdbcType="CHAR" />
    <result column="temp_orders_dispatching_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_orders_dispatching_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_orders_dispatching_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_orders_dispatching_update_time" property="updateTime" jdbcType="TIMESTAMP" />
	
	<result column="temp_orders_dispatching_carrier_display" property="carrierDisplay" jdbcType="VARCHAR"/>
	<result column="temp_orders_dispatching_driver_display"  property="driverDisplay" jdbcType="VARCHAR"/> <!--  自定义扩展字段 -->
    <result column="temp_orders_dispatching_creater_display" property="createrDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_orders_dispatching_updater_display" property="updaterDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_orders_dispatching_car_display" property="carDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 --> 
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_orders_dispatching.dispatching_id as temp_orders_dispatching_dispatching_id, 
    temp_orders_dispatching.dispatching_code as temp_orders_dispatching_dispatching_code, 
    temp_orders_dispatching.carrier_id as temp_orders_dispatching_carrier_id, temp_orders_dispatching.dispatching_goods_deposit as temp_orders_dispatching_dispatching_goods_deposit, 
    temp_orders_dispatching.dispatching_status as temp_orders_dispatching_dispatching_status, 
    temp_orders_dispatching.driver_id as temp_orders_dispatching_driver_id, temp_orders_dispatching.dispatching_signfor as temp_orders_dispatching_dispatching_signfor, 
    temp_orders_dispatching.router_id as temp_orders_dispatching_router_id, temp_orders_dispatching.car_id as temp_orders_dispatching_car_id, 
    temp_orders_dispatching.dispatch_time as temp_orders_dispatching_dispatch_time, temp_orders_dispatching.arrive_time as temp_orders_dispatching_arrive_time, 
    temp_orders_dispatching.status as temp_orders_dispatching_status, temp_orders_dispatching.creater as temp_orders_dispatching_creater, 
    temp_orders_dispatching.create_time as temp_orders_dispatching_create_time, temp_orders_dispatching.updater as temp_orders_dispatching_updater, 
    temp_orders_dispatching.update_time as temp_orders_dispatching_update_time
   <!-- 以下字段属于扩展 -->
    ,temp_carrier_member.member_name as temp_orders_dispatching_carrier_display 
    ,temp_carrier_driver.driver_name as  temp_orders_dispatching_driver_display
    ,temp_creater.user_cn_name as  temp_orders_dispatching_creater_display
    ,temp_updater.user_cn_name as  temp_orders_dispatching_updater_display
    ,temp_carrier_car_information.plate_number as  temp_orders_dispatching_car_display  
  
  </sql> 
  <sql id="Base_extend">
	LEFT JOIN t_carrier_member  temp_carrier_member ON temp_carrier_member.carrier_member_id = temp_orders_dispatching.carrier_id<!-- 扩展 -->
    LEFT JOIN t_carrier_driver  temp_carrier_driver ON temp_carrier_driver.driver_id = temp_orders_dispatching.driver_id <!-- 扩展 -->
    LEFT JOIN t_user temp_creater ON temp_creater.user_id = temp_orders_dispatching.creater <!-- 扩展 -->
    LEFT JOIN t_user temp_updater ON temp_updater.user_id = temp_orders_dispatching.updater <!-- 扩展 -->
    LEFT JOIN t_carrier_car_information  temp_carrier_car_information ON temp_carrier_car_information.car_id= temp_orders_dispatching.car_id <!-- 扩展 -->
  </sql>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.orders.OrdersDispatchingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_orders_dispatching temp_orders_dispatching
	<include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_orders_dispatching temp_orders_dispatching
	<include refid="Base_extend" />
    where temp_orders_dispatching.dispatching_id = #{dispatchingId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_orders_dispatching
    where dispatching_id = #{dispatchingId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.orders.OrdersDispatchingExample" >
    delete temp_orders_dispatching from t_orders_dispatching temp_orders_dispatching
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.orders.OrdersDispatching" >
    insert into t_orders_dispatching (dispatching_id, dispatching_code, carrier_id, 
      dispatching_goods_deposit, dispatching_status, 
      driver_id, dispatching_signfor, router_id, 
      car_id, dispatch_time, arrive_time, 
      status, creater, create_time, 
      updater, update_time)
    values (#{dispatchingId,jdbcType=VARCHAR}, #{dispatchingCode,jdbcType=VARCHAR}, #{carrierId,jdbcType=VARCHAR}, 
      #{dispatchingGoodsDeposit,jdbcType=DECIMAL}, #{dispatchingStatus,jdbcType=CHAR}, 
      #{driverId,jdbcType=VARCHAR}, #{dispatchingSignfor,jdbcType=CHAR}, #{routerId,jdbcType=VARCHAR}, 
      #{carId,jdbcType=VARCHAR}, #{dispatchTime,jdbcType=TIMESTAMP}, #{arriveTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.orders.OrdersDispatching" >
    insert into t_orders_dispatching
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dispatchingId != null" >
        dispatching_id,
      </if>
      <if test="dispatchingCode != null" >
        dispatching_code,
      </if>
      <if test="carrierId != null" >
        carrier_id,
      </if>
      <if test="dispatchingGoodsDeposit != null" >
        dispatching_goods_deposit,
      </if>
      <if test="dispatchingStatus != null" >
        dispatching_status,
      </if>
      <if test="driverId != null" >
        driver_id,
      </if>
      <if test="dispatchingSignfor != null" >
        dispatching_signfor,
      </if>
      <if test="routerId != null" >
        router_id,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="dispatchTime != null" >
        dispatch_time,
      </if>
      <if test="arriveTime != null" >
        arrive_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dispatchingId != null" >
        #{dispatchingId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchingCode != null" >
        #{dispatchingCode,jdbcType=VARCHAR},
      </if>
      <if test="carrierId != null" >
        #{carrierId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchingGoodsDeposit != null" >
        #{dispatchingGoodsDeposit,jdbcType=DECIMAL},
      </if>
      <if test="dispatchingStatus != null" >
        #{dispatchingStatus,jdbcType=CHAR},
      </if>
      <if test="driverId != null" >
        #{driverId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchingSignfor != null" >
        #{dispatchingSignfor,jdbcType=CHAR},
      </if>
      <if test="routerId != null" >
        #{routerId,jdbcType=VARCHAR},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchTime != null" >
        #{dispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arriveTime != null" >
        #{arriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.orders.OrdersDispatchingExample" resultType="java.lang.Integer" >
    select count(*) from t_orders_dispatching temp_orders_dispatching
	<include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_orders_dispatching temp_orders_dispatching
    <set >
      <if test="record.dispatchingId != null" >
        temp_orders_dispatching.dispatching_id = #{record.dispatchingId,jdbcType=VARCHAR},
      </if>
      <if test="record.dispatchingCode != null" >
        temp_orders_dispatching.dispatching_code = #{record.dispatchingCode,jdbcType=VARCHAR},
      </if>
      <if test="record.carrierId != null" >
        temp_orders_dispatching.carrier_id = #{record.carrierId,jdbcType=VARCHAR},
      </if>
      <if test="record.dispatchingGoodsDeposit != null" >
        temp_orders_dispatching.dispatching_goods_deposit = #{record.dispatchingGoodsDeposit,jdbcType=DECIMAL},
      </if>
      <if test="record.dispatchingStatus != null" >
        temp_orders_dispatching.dispatching_status = #{record.dispatchingStatus,jdbcType=CHAR},
      </if>
      <if test="record.driverId != null" >
        temp_orders_dispatching.driver_id = #{record.driverId,jdbcType=VARCHAR},
      </if>
      <if test="record.dispatchingSignfor != null" >
        temp_orders_dispatching.dispatching_signfor = #{record.dispatchingSignfor,jdbcType=CHAR},
      </if>
      <if test="record.routerId != null" >
        temp_orders_dispatching.router_id = #{record.routerId,jdbcType=VARCHAR},
      </if>
      <if test="record.carId != null" >
        temp_orders_dispatching.car_id = #{record.carId,jdbcType=VARCHAR},
      </if>
      <if test="record.dispatchTime != null" >
        temp_orders_dispatching.dispatch_time = #{record.dispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.arriveTime != null" >
        temp_orders_dispatching.arrive_time = #{record.arriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        temp_orders_dispatching.status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.creater != null" >
        temp_orders_dispatching.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_orders_dispatching.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_orders_dispatching.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_orders_dispatching.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_orders_dispatching temp_orders_dispatching
    set temp_orders_dispatching.dispatching_id = #{record.dispatchingId,jdbcType=VARCHAR},
      temp_orders_dispatching.dispatching_code = #{record.dispatchingCode,jdbcType=VARCHAR},
      temp_orders_dispatching.carrier_id = #{record.carrierId,jdbcType=VARCHAR},
      temp_orders_dispatching.dispatching_goods_deposit = #{record.dispatchingGoodsDeposit,jdbcType=DECIMAL},
      temp_orders_dispatching.dispatching_status = #{record.dispatchingStatus,jdbcType=CHAR},
      temp_orders_dispatching.driver_id = #{record.driverId,jdbcType=VARCHAR},
      temp_orders_dispatching.dispatching_signfor = #{record.dispatchingSignfor,jdbcType=CHAR},
      temp_orders_dispatching.router_id = #{record.routerId,jdbcType=VARCHAR},
      temp_orders_dispatching.car_id = #{record.carId,jdbcType=VARCHAR},
      temp_orders_dispatching.dispatch_time = #{record.dispatchTime,jdbcType=TIMESTAMP},
      temp_orders_dispatching.arrive_time = #{record.arriveTime,jdbcType=TIMESTAMP},
      temp_orders_dispatching.status = #{record.status,jdbcType=CHAR},
      temp_orders_dispatching.creater = #{record.creater,jdbcType=VARCHAR},
      temp_orders_dispatching.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_orders_dispatching.updater = #{record.updater,jdbcType=VARCHAR},
      temp_orders_dispatching.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.orders.OrdersDispatching" >
    update t_orders_dispatching
    <set >
      <if test="dispatchingCode != null" >
        dispatching_code = #{dispatchingCode,jdbcType=VARCHAR},
      </if>
      <if test="carrierId != null" >
        carrier_id = #{carrierId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchingGoodsDeposit != null" >
        dispatching_goods_deposit = #{dispatchingGoodsDeposit,jdbcType=DECIMAL},
      </if>
      <if test="dispatchingStatus != null" >
        dispatching_status = #{dispatchingStatus,jdbcType=CHAR},
      </if>
      <if test="driverId != null" >
        driver_id = #{driverId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchingSignfor != null" >
        dispatching_signfor = #{dispatchingSignfor,jdbcType=CHAR},
      </if>
      <if test="routerId != null" >
        router_id = #{routerId,jdbcType=VARCHAR},
      </if>
      <if test="carId != null" >
        car_id = #{carId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchTime != null" >
        dispatch_time = #{dispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arriveTime != null" >
        arrive_time = #{arriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dispatching_id = #{dispatchingId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.orders.OrdersDispatching" >
    update t_orders_dispatching
    set dispatching_code = #{dispatchingCode,jdbcType=VARCHAR},
      carrier_id = #{carrierId,jdbcType=VARCHAR},
      dispatching_goods_deposit = #{dispatchingGoodsDeposit,jdbcType=DECIMAL},
      dispatching_status = #{dispatchingStatus,jdbcType=CHAR},
      driver_id = #{driverId,jdbcType=VARCHAR},
      dispatching_signfor = #{dispatchingSignfor,jdbcType=CHAR},
      router_id = #{routerId,jdbcType=VARCHAR},
      car_id = #{carId,jdbcType=VARCHAR},
      dispatch_time = #{dispatchTime,jdbcType=TIMESTAMP},
      arrive_time = #{arriveTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where dispatching_id = #{dispatchingId,jdbcType=VARCHAR}
  </update>
</mapper>