<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.storehouse.StorehousePackCodeMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.storehouse.StorehousePackCode" >
    <id column="temp_storehouse_pack_code_pack_code_id" property="packCodeId" jdbcType="VARCHAR" />
    <result column="temp_storehouse_pack_code_packagetype_id" property="packagetypeId" jdbcType="VARCHAR" />
    <result column="temp_storehouse_pack_code_belaidup_id" property="belaidupId" jdbcType="VARCHAR" />
    <result column="temp_storehouse_pack_code_pack_bar_code" property="packBarCode" jdbcType="VARCHAR" />
    <result column="temp_storehouse_pack_code_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_storehouse_pack_code_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_storehouse_pack_code_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_storehouse_pack_code_update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_storehouse_pack_code.pack_code_id as temp_storehouse_pack_code_pack_code_id, 
    temp_storehouse_pack_code.packagetype_id as temp_storehouse_pack_code_packagetype_id, 
    temp_storehouse_pack_code.belaidup_id as temp_storehouse_pack_code_belaidup_id, temp_storehouse_pack_code.pack_bar_code as temp_storehouse_pack_code_pack_bar_code, 
    temp_storehouse_pack_code.creater as temp_storehouse_pack_code_creater, temp_storehouse_pack_code.create_time as temp_storehouse_pack_code_create_time, 
    temp_storehouse_pack_code.updater as temp_storehouse_pack_code_updater, temp_storehouse_pack_code.update_time as temp_storehouse_pack_code_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.storehouse.StorehousePackCodeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_storehouse_pack_code temp_storehouse_pack_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_storehouse_pack_code temp_storehouse_pack_code
    where temp_storehouse_pack_code.pack_code_id = #{packCodeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_storehouse_pack_code
    where pack_code_id = #{packCodeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.storehouse.StorehousePackCodeExample" >
    delete from t_storehouse_pack_code temp_storehouse_pack_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.storehouse.StorehousePackCode" >
    insert into t_storehouse_pack_code (pack_code_id, packagetype_id, belaidup_id, 
      pack_bar_code, creater, create_time, 
      updater, update_time)
    values (#{packCodeId,jdbcType=VARCHAR}, #{packagetypeId,jdbcType=VARCHAR}, #{belaidupId,jdbcType=VARCHAR}, 
      #{packBarCode,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.storehouse.StorehousePackCode" >
    insert into t_storehouse_pack_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="packCodeId != null" >
        pack_code_id,
      </if>
      <if test="packagetypeId != null" >
        packagetype_id,
      </if>
      <if test="belaidupId != null" >
        belaidup_id,
      </if>
      <if test="packBarCode != null" >
        pack_bar_code,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="packCodeId != null" >
        #{packCodeId,jdbcType=VARCHAR},
      </if>
      <if test="packagetypeId != null" >
        #{packagetypeId,jdbcType=VARCHAR},
      </if>
      <if test="belaidupId != null" >
        #{belaidupId,jdbcType=VARCHAR},
      </if>
      <if test="packBarCode != null" >
        #{packBarCode,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.storehouse.StorehousePackCodeExample" resultType="java.lang.Integer" >
    select count(*) from t_storehouse_pack_code temp_storehouse_pack_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_storehouse_pack_code temp_storehouse_pack_code
    <set >
      <if test="record.packCodeId != null" >
        temp_storehouse_pack_code.pack_code_id = #{record.packCodeId,jdbcType=VARCHAR},
      </if>
      <if test="record.packagetypeId != null" >
        temp_storehouse_pack_code.packagetype_id = #{record.packagetypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.belaidupId != null" >
        temp_storehouse_pack_code.belaidup_id = #{record.belaidupId,jdbcType=VARCHAR},
      </if>
      <if test="record.packBarCode != null" >
        temp_storehouse_pack_code.pack_bar_code = #{record.packBarCode,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_storehouse_pack_code.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_storehouse_pack_code.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_storehouse_pack_code.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_storehouse_pack_code.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_storehouse_pack_code temp_storehouse_pack_code
    set temp_storehouse_pack_code.pack_code_id = #{record.packCodeId,jdbcType=VARCHAR},
      temp_storehouse_pack_code.packagetype_id = #{record.packagetypeId,jdbcType=VARCHAR},
      temp_storehouse_pack_code.belaidup_id = #{record.belaidupId,jdbcType=VARCHAR},
      temp_storehouse_pack_code.pack_bar_code = #{record.packBarCode,jdbcType=VARCHAR},
      temp_storehouse_pack_code.creater = #{record.creater,jdbcType=VARCHAR},
      temp_storehouse_pack_code.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_storehouse_pack_code.updater = #{record.updater,jdbcType=VARCHAR},
      temp_storehouse_pack_code.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.storehouse.StorehousePackCode" >
    update t_storehouse_pack_code
    <set >
      <if test="packagetypeId != null" >
        packagetype_id = #{packagetypeId,jdbcType=VARCHAR},
      </if>
      <if test="belaidupId != null" >
        belaidup_id = #{belaidupId,jdbcType=VARCHAR},
      </if>
      <if test="packBarCode != null" >
        pack_bar_code = #{packBarCode,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pack_code_id = #{packCodeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.storehouse.StorehousePackCode" >
    update t_storehouse_pack_code
    set packagetype_id = #{packagetypeId,jdbcType=VARCHAR},
      belaidup_id = #{belaidupId,jdbcType=VARCHAR},
      pack_bar_code = #{packBarCode,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where pack_code_id = #{packCodeId,jdbcType=VARCHAR}
  </update>
</mapper>