<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.finace.FinanceCarrierDetailMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.finace.FinanceCarrierDetail" >
    <id column="temp_finance_carrier_detail_detail_id" property="detailId" jdbcType="VARCHAR" />
    <result column="temp_finance_carrier_detail_carrier_id" property="carrierId" jdbcType="VARCHAR" />
    <result column="temp_finance_carrier_detail_article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="temp_finance_carrier_detail_detail_income" property="detailIncome" jdbcType="DECIMAL" />
    <result column="temp_finance_carrier_detail_detail_freeze" property="detailFreeze" jdbcType="DECIMAL" />
    <result column="temp_finance_carrier_detail_detail_start" property="detailStart" jdbcType="DECIMAL" />
    <result column="temp_finance_carrier_detail_detail_end" property="detailEnd" jdbcType="DECIMAL" />
    <result column="temp_finance_carrier_detail_remove_freeze" property="removeFreeze" jdbcType="DECIMAL" />
    <result column="temp_finance_carrier_detail_detail_status" property="detailStatus" jdbcType="CHAR" />
    <result column="temp_finance_carrier_detail_detail_mark" property="detailMark" jdbcType="DECIMAL" />
    <result column="temp_finance_carrier_detail_detail_return" property="detailReturn" jdbcType="DECIMAL" />
    <result column="temp_finance_carrier_detail_remark" property="remark" jdbcType="VARCHAR" />
    <result column="temp_finance_carrier_detail_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_finance_carrier_detail_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_finance_carrier_detail_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_finance_carrier_detail_update_time" property="updateTime" jdbcType="TIMESTAMP" />
  	<result column="temp_finance_carrier_detail_creater_display" property="createrDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_finance_carrier_detail_updater_display" property="updaterDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_finance_carrier_detail_carrier_member_display" property="carrierMemberDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
  	<result column="temp_finance_carrier_detail_article_display" property="articleDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_finance_carrier_detail.detail_id as temp_finance_carrier_detail_detail_id, temp_finance_carrier_detail.carrier_id as temp_finance_carrier_detail_carrier_id, 
    temp_finance_carrier_detail.article_id as temp_finance_carrier_detail_article_id, 
    temp_finance_carrier_detail.detail_income as temp_finance_carrier_detail_detail_income, 
    temp_finance_carrier_detail.detail_freeze as temp_finance_carrier_detail_detail_freeze, 
    temp_finance_carrier_detail.detail_start as temp_finance_carrier_detail_detail_start, 
    temp_finance_carrier_detail.detail_end as temp_finance_carrier_detail_detail_end, 
    temp_finance_carrier_detail.remove_freeze as temp_finance_carrier_detail_remove_freeze, 
    temp_finance_carrier_detail.detail_status as temp_finance_carrier_detail_detail_status, 
    temp_finance_carrier_detail.detail_mark as temp_finance_carrier_detail_detail_mark, 
    temp_finance_carrier_detail.detail_return as temp_finance_carrier_detail_detail_return, 
    temp_finance_carrier_detail.remark as temp_finance_carrier_detail_remark, temp_finance_carrier_detail.creater as temp_finance_carrier_detail_creater, 
    temp_finance_carrier_detail.create_time as temp_finance_carrier_detail_create_time, 
    temp_finance_carrier_detail.updater as temp_finance_carrier_detail_updater, temp_finance_carrier_detail.update_time as temp_finance_carrier_detail_update_time
  	<!-- 以下字段属于扩展 -->
    ,temp_creater.user_cn_name as temp_finance_carrier_detail_creater_display
    ,temp_updater.user_cn_name as temp_finance_carrier_detail_updater_display
    ,temp_carrier.member_name as temp_finance_carrier_detail_carrier_member_display
  	,temp_orders_order.order_code as temp_finance_carrier_detail_article_display
  </sql>
  <sql id="Base_extend">
  	LEFT JOIN t_user temp_creater ON temp_creater.user_id = temp_finance_carrier_detail.creater <!-- 扩展 -->
    LEFT JOIN t_user temp_updater ON temp_updater.user_id = temp_finance_carrier_detail.updater <!-- 扩展 -->
  	LEFT JOIN t_carrier_member temp_carrier ON temp_carrier.carrier_member_id = temp_finance_carrier_detail.carrier_id <!-- 扩展 -->
  	LEFT JOIN t_orders_order temp_orders_order ON temp_orders_order.order_id = temp_finance_carrier_detail.article_id <!-- 扩展 -->
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.finace.FinanceCarrierDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_finance_carrier_detail temp_finance_carrier_detail
    <include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_finance_carrier_detail temp_finance_carrier_detail
    <include refid="Base_extend" />
    where temp_finance_carrier_detail.detail_id = #{detailId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_finance_carrier_detail
    where detail_id = #{detailId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.finace.FinanceCarrierDetailExample" >
    delete from t_finance_carrier_detail temp_finance_carrier_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.finace.FinanceCarrierDetail" >
    insert into t_finance_carrier_detail (detail_id, carrier_id, article_id, 
      detail_income, detail_freeze, detail_start, 
      detail_end, remove_freeze, detail_status, 
      detail_mark, detail_return, remark, 
      creater, create_time, updater, 
      update_time)
    values (#{detailId,jdbcType=VARCHAR}, #{carrierId,jdbcType=VARCHAR}, #{articleId,jdbcType=VARCHAR}, 
      #{detailIncome,jdbcType=DECIMAL}, #{detailFreeze,jdbcType=DECIMAL}, #{detailStart,jdbcType=DECIMAL}, 
      #{detailEnd,jdbcType=DECIMAL}, #{removeFreeze,jdbcType=DECIMAL}, #{detailStatus,jdbcType=CHAR}, 
      #{detailMark,jdbcType=DECIMAL}, #{detailReturn,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.finace.FinanceCarrierDetail" >
    insert into t_finance_carrier_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        detail_id,
      </if>
      <if test="carrierId != null" >
        carrier_id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="detailIncome != null" >
        detail_income,
      </if>
      <if test="detailFreeze != null" >
        detail_freeze,
      </if>
      <if test="detailStart != null" >
        detail_start,
      </if>
      <if test="detailEnd != null" >
        detail_end,
      </if>
      <if test="removeFreeze != null" >
        remove_freeze,
      </if>
      <if test="detailStatus != null" >
        detail_status,
      </if>
      <if test="detailMark != null" >
        detail_mark,
      </if>
      <if test="detailReturn != null" >
        detail_return,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        #{detailId,jdbcType=VARCHAR},
      </if>
      <if test="carrierId != null" >
        #{carrierId,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="detailIncome != null" >
        #{detailIncome,jdbcType=DECIMAL},
      </if>
      <if test="detailFreeze != null" >
        #{detailFreeze,jdbcType=DECIMAL},
      </if>
      <if test="detailStart != null" >
        #{detailStart,jdbcType=DECIMAL},
      </if>
      <if test="detailEnd != null" >
        #{detailEnd,jdbcType=DECIMAL},
      </if>
      <if test="removeFreeze != null" >
        #{removeFreeze,jdbcType=DECIMAL},
      </if>
      <if test="detailStatus != null" >
        #{detailStatus,jdbcType=CHAR},
      </if>
      <if test="detailMark != null" >
        #{detailMark,jdbcType=DECIMAL},
      </if>
      <if test="detailReturn != null" >
        #{detailReturn,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.finace.FinanceCarrierDetailExample" resultType="java.lang.Integer" >
    select count(*) from t_finance_carrier_detail temp_finance_carrier_detail
    <include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_finance_carrier_detail temp_finance_carrier_detail
    <set >
      <if test="record.detailId != null" >
        temp_finance_carrier_detail.detail_id = #{record.detailId,jdbcType=VARCHAR},
      </if>
      <if test="record.carrierId != null" >
        temp_finance_carrier_detail.carrier_id = #{record.carrierId,jdbcType=VARCHAR},
      </if>
      <if test="record.articleId != null" >
        temp_finance_carrier_detail.article_id = #{record.articleId,jdbcType=VARCHAR},
      </if>
      <if test="record.detailIncome != null" >
        temp_finance_carrier_detail.detail_income = #{record.detailIncome,jdbcType=DECIMAL},
      </if>
      <if test="record.detailFreeze != null" >
        temp_finance_carrier_detail.detail_freeze = #{record.detailFreeze,jdbcType=DECIMAL},
      </if>
      <if test="record.detailStart != null" >
        temp_finance_carrier_detail.detail_start = #{record.detailStart,jdbcType=DECIMAL},
      </if>
      <if test="record.detailEnd != null" >
        temp_finance_carrier_detail.detail_end = #{record.detailEnd,jdbcType=DECIMAL},
      </if>
      <if test="record.removeFreeze != null" >
        temp_finance_carrier_detail.remove_freeze = #{record.removeFreeze,jdbcType=DECIMAL},
      </if>
      <if test="record.detailStatus != null" >
        temp_finance_carrier_detail.detail_status = #{record.detailStatus,jdbcType=CHAR},
      </if>
      <if test="record.detailMark != null" >
        temp_finance_carrier_detail.detail_mark = #{record.detailMark,jdbcType=DECIMAL},
      </if>
      <if test="record.detailReturn != null" >
        temp_finance_carrier_detail.detail_return = #{record.detailReturn,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        temp_finance_carrier_detail.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_finance_carrier_detail.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_finance_carrier_detail.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_finance_carrier_detail.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_finance_carrier_detail.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_finance_carrier_detail temp_finance_carrier_detail
    set temp_finance_carrier_detail.detail_id = #{record.detailId,jdbcType=VARCHAR},
      temp_finance_carrier_detail.carrier_id = #{record.carrierId,jdbcType=VARCHAR},
      temp_finance_carrier_detail.article_id = #{record.articleId,jdbcType=VARCHAR},
      temp_finance_carrier_detail.detail_income = #{record.detailIncome,jdbcType=DECIMAL},
      temp_finance_carrier_detail.detail_freeze = #{record.detailFreeze,jdbcType=DECIMAL},
      temp_finance_carrier_detail.detail_start = #{record.detailStart,jdbcType=DECIMAL},
      temp_finance_carrier_detail.detail_end = #{record.detailEnd,jdbcType=DECIMAL},
      temp_finance_carrier_detail.remove_freeze = #{record.removeFreeze,jdbcType=DECIMAL},
      temp_finance_carrier_detail.detail_status = #{record.detailStatus,jdbcType=CHAR},
      temp_finance_carrier_detail.detail_mark = #{record.detailMark,jdbcType=DECIMAL},
      temp_finance_carrier_detail.detail_return = #{record.detailReturn,jdbcType=DECIMAL},
      temp_finance_carrier_detail.remark = #{record.remark,jdbcType=VARCHAR},
      temp_finance_carrier_detail.creater = #{record.creater,jdbcType=VARCHAR},
      temp_finance_carrier_detail.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_finance_carrier_detail.updater = #{record.updater,jdbcType=VARCHAR},
      temp_finance_carrier_detail.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.finace.FinanceCarrierDetail" >
    update t_finance_carrier_detail
    <set >
      <if test="carrierId != null" >
        carrier_id = #{carrierId,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="detailIncome != null" >
        detail_income = #{detailIncome,jdbcType=DECIMAL},
      </if>
      <if test="detailFreeze != null" >
        detail_freeze = #{detailFreeze,jdbcType=DECIMAL},
      </if>
      <if test="detailStart != null" >
        detail_start = #{detailStart,jdbcType=DECIMAL},
      </if>
      <if test="detailEnd != null" >
        detail_end = #{detailEnd,jdbcType=DECIMAL},
      </if>
      <if test="removeFreeze != null" >
        remove_freeze = #{removeFreeze,jdbcType=DECIMAL},
      </if>
      <if test="detailStatus != null" >
        detail_status = #{detailStatus,jdbcType=CHAR},
      </if>
      <if test="detailMark != null" >
        detail_mark = #{detailMark,jdbcType=DECIMAL},
      </if>
      <if test="detailReturn != null" >
        detail_return = #{detailReturn,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where detail_id = #{detailId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.finace.FinanceCarrierDetail" >
    update t_finance_carrier_detail
    set carrier_id = #{carrierId,jdbcType=VARCHAR},
      article_id = #{articleId,jdbcType=VARCHAR},
      detail_income = #{detailIncome,jdbcType=DECIMAL},
      detail_freeze = #{detailFreeze,jdbcType=DECIMAL},
      detail_start = #{detailStart,jdbcType=DECIMAL},
      detail_end = #{detailEnd,jdbcType=DECIMAL},
      remove_freeze = #{removeFreeze,jdbcType=DECIMAL},
      detail_status = #{detailStatus,jdbcType=CHAR},
      detail_mark = #{detailMark,jdbcType=DECIMAL},
      detail_return = #{detailReturn,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where detail_id = #{detailId,jdbcType=VARCHAR}
  </update>
</mapper>