<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.member.ShipperMemberGradeMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.member.ShipperMemberGrade" >
    <id column="temp_shipper_member_grade_grade_id" property="gradeId" jdbcType="VARCHAR" />
    <result column="temp_shipper_member_grade_grade_name" property="gradeName" jdbcType="VARCHAR" />
    <result column="temp_shipper_member_grade_scope_start" property="scopeStart" jdbcType="INTEGER" />
    <result column="temp_shipper_member_grade_scope_stop" property="scopeStop" jdbcType="INTEGER" />
    <result column="temp_shipper_member_grade_grade_img" property="gradeImg" jdbcType="VARCHAR" />
    <result column="temp_shipper_member_grade_grade_GPS" property="gradeGps" jdbcType="CHAR" />
    <result column="temp_shipper_member_grade_grade_email" property="gradeEmail" jdbcType="CHAR" />
    <result column="temp_shipper_member_grade_grade_mobile" property="gradeMobile" jdbcType="CHAR" />
    <result column="temp_shipper_member_grade_grade_first" property="gradeFirst" jdbcType="CHAR" />
    <result column="temp_shipper_member_grade_grade_discount" property="gradeDiscount" jdbcType="DECIMAL" />
    <result column="temp_shipper_member_grade_grade_cashpayment" property="gradeCashpayment" jdbcType="CHAR" />
    <result column="temp_shipper_member_grade_grade_destination" property="gradeDestination" jdbcType="CHAR" />
    <result column="temp_shipper_member_grade_grade_monthly" property="gradeMonthly" jdbcType="CHAR" />
    <result column="temp_shipper_member_grade_status" property="status" jdbcType="CHAR" />
    <result column="temp_shipper_member_grade_remark" property="remark" jdbcType="VARCHAR" />
    <result column="temp_shipper_member_grade_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_shipper_member_grade_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_shipper_member_grade_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_shipper_member_grade_update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="temp_shipper_member_grade_creater_display" property="createrDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_shipper_member_grade_updater_display" property="updaterDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_shipper_member_grade.grade_id as temp_shipper_member_grade_grade_id, temp_shipper_member_grade.grade_name as temp_shipper_member_grade_grade_name, 
    temp_shipper_member_grade.scope_start as temp_shipper_member_grade_scope_start, temp_shipper_member_grade.scope_stop as temp_shipper_member_grade_scope_stop, 
    temp_shipper_member_grade.grade_img as temp_shipper_member_grade_grade_img, temp_shipper_member_grade.grade_GPS as temp_shipper_member_grade_grade_GPS, 
    temp_shipper_member_grade.grade_email as temp_shipper_member_grade_grade_email, temp_shipper_member_grade.grade_mobile as temp_shipper_member_grade_grade_mobile, 
    temp_shipper_member_grade.grade_first as temp_shipper_member_grade_grade_first, temp_shipper_member_grade.grade_discount as temp_shipper_member_grade_grade_discount, 
    temp_shipper_member_grade.grade_cashpayment as temp_shipper_member_grade_grade_cashpayment, 
    temp_shipper_member_grade.grade_destination as temp_shipper_member_grade_grade_destination, 
    temp_shipper_member_grade.grade_monthly as temp_shipper_member_grade_grade_monthly, 
    temp_shipper_member_grade.status as temp_shipper_member_grade_status, temp_shipper_member_grade.remark as temp_shipper_member_grade_remark, 
    temp_shipper_member_grade.creater as temp_shipper_member_grade_creater, temp_shipper_member_grade.create_time as temp_shipper_member_grade_create_time, 
    temp_shipper_member_grade.updater as temp_shipper_member_grade_updater, temp_shipper_member_grade.update_time as temp_shipper_member_grade_update_time
    <!-- 以下字段属于扩展 -->
    ,temp_creater.user_cn_name as temp_shipper_member_grade_creater_display
    ,temp_updater.user_cn_name as temp_shipper_member_grade_updater_display
  </sql>
  <sql id="Base_extend">
  	LEFT JOIN t_user temp_creater ON temp_creater.user_id = temp_shipper_member_grade.creater <!-- 扩展 -->
    LEFT JOIN t_user temp_updater ON temp_updater.user_id = temp_shipper_member_grade.updater <!-- 扩展 -->
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.member.ShipperMemberGradeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_shipper_member_grade temp_shipper_member_grade
    <include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_shipper_member_grade temp_shipper_member_grade
    <include refid="Base_extend" />
    where temp_shipper_member_grade.grade_id = #{gradeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_shipper_member_grade
    where grade_id = #{gradeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.member.ShipperMemberGradeExample" >
    delete temp_shipper_member_grade from t_shipper_member_grade temp_shipper_member_grade
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.member.ShipperMemberGrade" >
    insert into t_shipper_member_grade (grade_id, grade_name, scope_start, 
      scope_stop, grade_img, grade_GPS, 
      grade_email, grade_mobile, grade_first, 
      grade_discount, grade_cashpayment, grade_destination, 
      grade_monthly, status, remark, 
      creater, create_time, updater, 
      update_time)
    values (#{gradeId,jdbcType=VARCHAR}, #{gradeName,jdbcType=VARCHAR}, #{scopeStart,jdbcType=INTEGER}, 
      #{scopeStop,jdbcType=INTEGER}, #{gradeImg,jdbcType=VARCHAR}, #{gradeGps,jdbcType=CHAR}, 
      #{gradeEmail,jdbcType=CHAR}, #{gradeMobile,jdbcType=CHAR}, #{gradeFirst,jdbcType=CHAR}, 
      #{gradeDiscount,jdbcType=DECIMAL}, #{gradeCashpayment,jdbcType=CHAR}, #{gradeDestination,jdbcType=CHAR}, 
      #{gradeMonthly,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.member.ShipperMemberGrade" >
    insert into t_shipper_member_grade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gradeId != null" >
        grade_id,
      </if>
      <if test="gradeName != null" >
        grade_name,
      </if>
      <if test="scopeStart != null" >
        scope_start,
      </if>
      <if test="scopeStop != null" >
        scope_stop,
      </if>
      <if test="gradeImg != null" >
        grade_img,
      </if>
      <if test="gradeGps != null" >
        grade_GPS,
      </if>
      <if test="gradeEmail != null" >
        grade_email,
      </if>
      <if test="gradeMobile != null" >
        grade_mobile,
      </if>
      <if test="gradeFirst != null" >
        grade_first,
      </if>
      <if test="gradeDiscount != null" >
        grade_discount,
      </if>
      <if test="gradeCashpayment != null" >
        grade_cashpayment,
      </if>
      <if test="gradeDestination != null" >
        grade_destination,
      </if>
      <if test="gradeMonthly != null" >
        grade_monthly,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gradeId != null" >
        #{gradeId,jdbcType=VARCHAR},
      </if>
      <if test="gradeName != null" >
        #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="scopeStart != null" >
        #{scopeStart,jdbcType=INTEGER},
      </if>
      <if test="scopeStop != null" >
        #{scopeStop,jdbcType=INTEGER},
      </if>
      <if test="gradeImg != null" >
        #{gradeImg,jdbcType=VARCHAR},
      </if>
      <if test="gradeGps != null" >
        #{gradeGps,jdbcType=CHAR},
      </if>
      <if test="gradeEmail != null" >
        #{gradeEmail,jdbcType=CHAR},
      </if>
      <if test="gradeMobile != null" >
        #{gradeMobile,jdbcType=CHAR},
      </if>
      <if test="gradeFirst != null" >
        #{gradeFirst,jdbcType=CHAR},
      </if>
      <if test="gradeDiscount != null" >
        #{gradeDiscount,jdbcType=DECIMAL},
      </if>
      <if test="gradeCashpayment != null" >
        #{gradeCashpayment,jdbcType=CHAR},
      </if>
      <if test="gradeDestination != null" >
        #{gradeDestination,jdbcType=CHAR},
      </if>
      <if test="gradeMonthly != null" >
        #{gradeMonthly,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.member.ShipperMemberGradeExample" resultType="java.lang.Integer" >
    select count(*) from t_shipper_member_grade temp_shipper_member_grade
    <include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_shipper_member_grade temp_shipper_member_grade
    <set >
      <if test="record.gradeId != null" >
        temp_shipper_member_grade.grade_id = #{record.gradeId,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeName != null" >
        temp_shipper_member_grade.grade_name = #{record.gradeName,jdbcType=VARCHAR},
      </if>
      <if test="record.scopeStart != null" >
        temp_shipper_member_grade.scope_start = #{record.scopeStart,jdbcType=INTEGER},
      </if>
      <if test="record.scopeStop != null" >
        temp_shipper_member_grade.scope_stop = #{record.scopeStop,jdbcType=INTEGER},
      </if>
      <if test="record.gradeImg != null" >
        temp_shipper_member_grade.grade_img = #{record.gradeImg,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeGps != null" >
        temp_shipper_member_grade.grade_GPS = #{record.gradeGps,jdbcType=CHAR},
      </if>
      <if test="record.gradeEmail != null" >
        temp_shipper_member_grade.grade_email = #{record.gradeEmail,jdbcType=CHAR},
      </if>
      <if test="record.gradeMobile != null" >
        temp_shipper_member_grade.grade_mobile = #{record.gradeMobile,jdbcType=CHAR},
      </if>
      <if test="record.gradeFirst != null" >
        temp_shipper_member_grade.grade_first = #{record.gradeFirst,jdbcType=CHAR},
      </if>
      <if test="record.gradeDiscount != null" >
        temp_shipper_member_grade.grade_discount = #{record.gradeDiscount,jdbcType=DECIMAL},
      </if>
      <if test="record.gradeCashpayment != null" >
        temp_shipper_member_grade.grade_cashpayment = #{record.gradeCashpayment,jdbcType=CHAR},
      </if>
      <if test="record.gradeDestination != null" >
        temp_shipper_member_grade.grade_destination = #{record.gradeDestination,jdbcType=CHAR},
      </if>
      <if test="record.gradeMonthly != null" >
        temp_shipper_member_grade.grade_monthly = #{record.gradeMonthly,jdbcType=CHAR},
      </if>
      <if test="record.status != null" >
        temp_shipper_member_grade.status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.remark != null" >
        temp_shipper_member_grade.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_shipper_member_grade.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_shipper_member_grade.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_shipper_member_grade.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_shipper_member_grade.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_shipper_member_grade temp_shipper_member_grade
    set temp_shipper_member_grade.grade_id = #{record.gradeId,jdbcType=VARCHAR},
      temp_shipper_member_grade.grade_name = #{record.gradeName,jdbcType=VARCHAR},
      temp_shipper_member_grade.scope_start = #{record.scopeStart,jdbcType=INTEGER},
      temp_shipper_member_grade.scope_stop = #{record.scopeStop,jdbcType=INTEGER},
      temp_shipper_member_grade.grade_img = #{record.gradeImg,jdbcType=VARCHAR},
      temp_shipper_member_grade.grade_GPS = #{record.gradeGps,jdbcType=CHAR},
      temp_shipper_member_grade.grade_email = #{record.gradeEmail,jdbcType=CHAR},
      temp_shipper_member_grade.grade_mobile = #{record.gradeMobile,jdbcType=CHAR},
      temp_shipper_member_grade.grade_first = #{record.gradeFirst,jdbcType=CHAR},
      temp_shipper_member_grade.grade_discount = #{record.gradeDiscount,jdbcType=DECIMAL},
      temp_shipper_member_grade.grade_cashpayment = #{record.gradeCashpayment,jdbcType=CHAR},
      temp_shipper_member_grade.grade_destination = #{record.gradeDestination,jdbcType=CHAR},
      temp_shipper_member_grade.grade_monthly = #{record.gradeMonthly,jdbcType=CHAR},
      temp_shipper_member_grade.status = #{record.status,jdbcType=CHAR},
      temp_shipper_member_grade.remark = #{record.remark,jdbcType=VARCHAR},
      temp_shipper_member_grade.creater = #{record.creater,jdbcType=VARCHAR},
      temp_shipper_member_grade.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_shipper_member_grade.updater = #{record.updater,jdbcType=VARCHAR},
      temp_shipper_member_grade.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.member.ShipperMemberGrade" >
    update t_shipper_member_grade
    <set >
      <if test="gradeName != null" >
        grade_name = #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="scopeStart != null" >
        scope_start = #{scopeStart,jdbcType=INTEGER},
      </if>
      <if test="scopeStop != null" >
        scope_stop = #{scopeStop,jdbcType=INTEGER},
      </if>
      <if test="gradeImg != null" >
        grade_img = #{gradeImg,jdbcType=VARCHAR},
      </if>
      <if test="gradeGps != null" >
        grade_GPS = #{gradeGps,jdbcType=CHAR},
      </if>
      <if test="gradeEmail != null" >
        grade_email = #{gradeEmail,jdbcType=CHAR},
      </if>
      <if test="gradeMobile != null" >
        grade_mobile = #{gradeMobile,jdbcType=CHAR},
      </if>
      <if test="gradeFirst != null" >
        grade_first = #{gradeFirst,jdbcType=CHAR},
      </if>
      <if test="gradeDiscount != null" >
        grade_discount = #{gradeDiscount,jdbcType=DECIMAL},
      </if>
      <if test="gradeCashpayment != null" >
        grade_cashpayment = #{gradeCashpayment,jdbcType=CHAR},
      </if>
      <if test="gradeDestination != null" >
        grade_destination = #{gradeDestination,jdbcType=CHAR},
      </if>
      <if test="gradeMonthly != null" >
        grade_monthly = #{gradeMonthly,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where grade_id = #{gradeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.member.ShipperMemberGrade" >
    update t_shipper_member_grade
    set grade_name = #{gradeName,jdbcType=VARCHAR},
      scope_start = #{scopeStart,jdbcType=INTEGER},
      scope_stop = #{scopeStop,jdbcType=INTEGER},
      grade_img = #{gradeImg,jdbcType=VARCHAR},
      grade_GPS = #{gradeGps,jdbcType=CHAR},
      grade_email = #{gradeEmail,jdbcType=CHAR},
      grade_mobile = #{gradeMobile,jdbcType=CHAR},
      grade_first = #{gradeFirst,jdbcType=CHAR},
      grade_discount = #{gradeDiscount,jdbcType=DECIMAL},
      grade_cashpayment = #{gradeCashpayment,jdbcType=CHAR},
      grade_destination = #{gradeDestination,jdbcType=CHAR},
      grade_monthly = #{gradeMonthly,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where grade_id = #{gradeId,jdbcType=VARCHAR}
  </update>
</mapper>