<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.carrier.CarrierMemberMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.carrier.CarrierMember" >
    <id column="temp_carrier_member_carrier_member_id" property="carrierMemberId" jdbcType="VARCHAR" />
    <result column="temp_carrier_member_member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="temp_carrier_member_member_password" property="memberPassword" jdbcType="VARCHAR" />
    <result column="temp_carrier_member_traders_password" property="tradersPassword" jdbcType="VARCHAR" />
    <result column="temp_carrier_member_live_address" property="liveAddress" jdbcType="VARCHAR" />
    <result column="temp_carrier_member_member_photo" property="memberPhoto" jdbcType="VARCHAR" />
    <result column="temp_carrier_member_registration_time" property="registrationTime" jdbcType="TIMESTAMP" />
    <result column="temp_carrier_member_last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="temp_carrier_member_email" property="email" jdbcType="VARCHAR" />
    <result column="temp_carrier_member_member_type" property="memberType" jdbcType="CHAR" />
    <result column="temp_carrier_member_status" property="status" jdbcType="CHAR" />
    <result column="temp_carrier_member_login_count" property="loginCount" jdbcType="INTEGER" />
    <result column="temp_carrier_member_last_login_ip_address" property="lastLoginIpAddress" jdbcType="VARCHAR" />
    <result column="temp_carrier_member_credit_limit" property="creditLimit" jdbcType="DECIMAL" />
    <result column="temp_carrier_member_creditworthiness" property="creditworthiness" jdbcType="INTEGER" />
    <result column="temp_carrier_member_surplus_monney" property="surplusMonney" jdbcType="DECIMAL" />
    <result column="temp_carrier_member_deliver_success" property="deliverSuccess" jdbcType="INTEGER" />
    <result column="temp_carrier_member_deliver_fail" property="deliverFail" jdbcType="INTEGER" />
    <result column="temp_carrier_member_audit_state" property="auditState" jdbcType="CHAR" />
    <result column="temp_carrier_member_audit" property="audit" jdbcType="VARCHAR" />
    <result column="temp_carrier_member_audit_opinion" property="auditOpinion" jdbcType="VARCHAR" />
    <result column="temp_carrier_member_audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="temp_carrier_member_remark" property="remark" jdbcType="VARCHAR" />
    <result column="temp_carrier_member_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_carrier_member_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_carrier_member_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_carrier_member_update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="temp_carrier_member_creater_display" property="createrDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_carrier_member_updater_display" property="updaterDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_carrier_member_audit_display" property="auditDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_carrier_member.carrier_member_id as temp_carrier_member_carrier_member_id, temp_carrier_member.member_name as temp_carrier_member_member_name, 
    temp_carrier_member.member_password as temp_carrier_member_member_password, temp_carrier_member.traders_password as temp_carrier_member_traders_password, 
    temp_carrier_member.live_address as temp_carrier_member_live_address, temp_carrier_member.member_photo as temp_carrier_member_member_photo, 
    temp_carrier_member.registration_time as temp_carrier_member_registration_time, temp_carrier_member.last_login_time as temp_carrier_member_last_login_time, 
    temp_carrier_member.email as temp_carrier_member_email, temp_carrier_member.member_type as temp_carrier_member_member_type, 
    temp_carrier_member.status as temp_carrier_member_status, temp_carrier_member.login_count as temp_carrier_member_login_count, 
    temp_carrier_member.last_login_ip_address as temp_carrier_member_last_login_ip_address, 
    temp_carrier_member.credit_limit as temp_carrier_member_credit_limit, temp_carrier_member.creditworthiness as temp_carrier_member_creditworthiness, 
    temp_carrier_member.surplus_monney as temp_carrier_member_surplus_monney, temp_carrier_member.deliver_success as temp_carrier_member_deliver_success, 
    temp_carrier_member.deliver_fail as temp_carrier_member_deliver_fail, temp_carrier_member.audit_state as temp_carrier_member_audit_state, 
    temp_carrier_member.audit as temp_carrier_member_audit, temp_carrier_member.audit_opinion as temp_carrier_member_audit_opinion, 
    temp_carrier_member.audit_time as temp_carrier_member_audit_time, temp_carrier_member.remark as temp_carrier_member_remark, 
    temp_carrier_member.creater as temp_carrier_member_creater, temp_carrier_member.create_time as temp_carrier_member_create_time, 
    temp_carrier_member.updater as temp_carrier_member_updater, temp_carrier_member.update_time as temp_carrier_member_update_time
  <!-- 以下字段属于扩展 -->
    ,temp_creater.user_cn_name as temp_carrier_member_creater_display
    ,temp_updater.user_cn_name as temp_carrier_member_updater_display 
    ,temp_audit.user_cn_name as temp_carrier_member_audit_display
  </sql> 
  <sql id="Base_extend">
  	LEFT JOIN t_user temp_creater ON temp_creater.user_id = temp_carrier_member.creater <!-- 扩展 -->
    LEFT JOIN t_user temp_updater ON temp_updater.user_id = temp_carrier_member.updater <!-- 扩展 -->
    LEFT JOIN t_user temp_audit ON temp_audit.user_id = temp_carrier_member.audit <!-- 扩展 -->
   </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.carrier.CarrierMemberExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_carrier_member temp_carrier_member
     <include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_carrier_member temp_carrier_member
     <include refid="Base_extend" />
    where temp_carrier_member.carrier_member_id = #{carrierMemberId,jdbcType=VARCHAR}
  </select>
  <!-- 自定义方法，根据名字查找承运商 -->
  <select id="selectByMemberName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_carrier_member temp_carrier_member
    <include refid="Base_extend" />
    where temp_carrier_member.member_name = #{memberName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_carrier_member
    where carrier_member_id = #{carrierMemberId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.carrier.CarrierMemberExample" >
    delete from t_carrier_member temp_carrier_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.carrier.CarrierMember" >
    insert into t_carrier_member (carrier_member_id, member_name, member_password, 
      traders_password, live_address, member_photo, 
      registration_time, last_login_time, email, 
      member_type, status, login_count, 
      last_login_ip_address, credit_limit, creditworthiness, 
      surplus_monney, deliver_success, deliver_fail, 
      audit_state, audit, audit_opinion, 
      audit_time, remark, creater, 
      create_time, updater, update_time
      )
    values (#{carrierMemberId,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}, #{memberPassword,jdbcType=VARCHAR}, 
      #{tradersPassword,jdbcType=VARCHAR}, #{liveAddress,jdbcType=VARCHAR}, #{memberPhoto,jdbcType=VARCHAR}, 
      #{registrationTime,jdbcType=TIMESTAMP}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{email,jdbcType=VARCHAR}, 
      #{memberType,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{loginCount,jdbcType=INTEGER}, 
      #{lastLoginIpAddress,jdbcType=VARCHAR}, #{creditLimit,jdbcType=DECIMAL}, #{creditworthiness,jdbcType=INTEGER}, 
      #{surplusMonney,jdbcType=DECIMAL}, #{deliverSuccess,jdbcType=INTEGER}, #{deliverFail,jdbcType=INTEGER}, 
      #{auditState,jdbcType=CHAR}, #{audit,jdbcType=VARCHAR}, #{auditOpinion,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.carrier.CarrierMember" >
    insert into t_carrier_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carrierMemberId != null" >
        carrier_member_id,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="memberPassword != null" >
        member_password,
      </if>
      <if test="tradersPassword != null" >
        traders_password,
      </if>
      <if test="liveAddress != null" >
        live_address,
      </if>
      <if test="memberPhoto != null" >
        member_photo,
      </if>
      <if test="registrationTime != null" >
        registration_time,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="memberType != null" >
        member_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="loginCount != null" >
        login_count,
      </if>
      <if test="lastLoginIpAddress != null" >
        last_login_ip_address,
      </if>
      <if test="creditLimit != null" >
        credit_limit,
      </if>
      <if test="creditworthiness != null" >
        creditworthiness,
      </if>
      <if test="surplusMonney != null" >
        surplus_monney,
      </if>
      <if test="deliverSuccess != null" >
        deliver_success,
      </if>
      <if test="deliverFail != null" >
        deliver_fail,
      </if>
      <if test="auditState != null" >
        audit_state,
      </if>
      <if test="audit != null" >
        audit,
      </if>
      <if test="auditOpinion != null" >
        audit_opinion,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carrierMemberId != null" >
        #{carrierMemberId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberPassword != null" >
        #{memberPassword,jdbcType=VARCHAR},
      </if>
      <if test="tradersPassword != null" >
        #{tradersPassword,jdbcType=VARCHAR},
      </if>
      <if test="liveAddress != null" >
        #{liveAddress,jdbcType=VARCHAR},
      </if>
      <if test="memberPhoto != null" >
        #{memberPhoto,jdbcType=VARCHAR},
      </if>
      <if test="registrationTime != null" >
        #{registrationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null" >
        #{memberType,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="loginCount != null" >
        #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="lastLoginIpAddress != null" >
        #{lastLoginIpAddress,jdbcType=VARCHAR},
      </if>
      <if test="creditLimit != null" >
        #{creditLimit,jdbcType=DECIMAL},
      </if>
      <if test="creditworthiness != null" >
        #{creditworthiness,jdbcType=INTEGER},
      </if>
      <if test="surplusMonney != null" >
        #{surplusMonney,jdbcType=DECIMAL},
      </if>
      <if test="deliverSuccess != null" >
        #{deliverSuccess,jdbcType=INTEGER},
      </if>
      <if test="deliverFail != null" >
        #{deliverFail,jdbcType=INTEGER},
      </if>
      <if test="auditState != null" >
        #{auditState,jdbcType=CHAR},
      </if>
      <if test="audit != null" >
        #{audit,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null" >
        #{auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.carrier.CarrierMemberExample" resultType="java.lang.Integer" >
    select count(*) from t_carrier_member temp_carrier_member
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_carrier_member temp_carrier_member
    <set >
      <if test="record.carrierMemberId != null" >
        temp_carrier_member.carrier_member_id = #{record.carrierMemberId,jdbcType=VARCHAR},
      </if>
      <if test="record.memberName != null" >
        temp_carrier_member.member_name = #{record.memberName,jdbcType=VARCHAR},
      </if>
      <if test="record.memberPassword != null" >
        temp_carrier_member.member_password = #{record.memberPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.tradersPassword != null" >
        temp_carrier_member.traders_password = #{record.tradersPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.liveAddress != null" >
        temp_carrier_member.live_address = #{record.liveAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.memberPhoto != null" >
        temp_carrier_member.member_photo = #{record.memberPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.registrationTime != null" >
        temp_carrier_member.registration_time = #{record.registrationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastLoginTime != null" >
        temp_carrier_member.last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.email != null" >
        temp_carrier_member.email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.memberType != null" >
        temp_carrier_member.member_type = #{record.memberType,jdbcType=CHAR},
      </if>
      <if test="record.status != null" >
        temp_carrier_member.status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.loginCount != null" >
        temp_carrier_member.login_count = #{record.loginCount,jdbcType=INTEGER},
      </if>
      <if test="record.lastLoginIpAddress != null" >
        temp_carrier_member.last_login_ip_address = #{record.lastLoginIpAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.creditLimit != null" >
        temp_carrier_member.credit_limit = #{record.creditLimit,jdbcType=DECIMAL},
      </if>
      <if test="record.creditworthiness != null" >
        temp_carrier_member.creditworthiness = #{record.creditworthiness,jdbcType=INTEGER},
      </if>
      <if test="record.surplusMonney != null" >
        temp_carrier_member.surplus_monney = #{record.surplusMonney,jdbcType=DECIMAL},
      </if>
      <if test="record.deliverSuccess != null" >
        temp_carrier_member.deliver_success = #{record.deliverSuccess,jdbcType=INTEGER},
      </if>
      <if test="record.deliverFail != null" >
        temp_carrier_member.deliver_fail = #{record.deliverFail,jdbcType=INTEGER},
      </if>
      <if test="record.auditState != null" >
        temp_carrier_member.audit_state = #{record.auditState,jdbcType=CHAR},
      </if>
      <if test="record.audit != null" >
        temp_carrier_member.audit = #{record.audit,jdbcType=VARCHAR},
      </if>
      <if test="record.auditOpinion != null" >
        temp_carrier_member.audit_opinion = #{record.auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="record.auditTime != null" >
        temp_carrier_member.audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        temp_carrier_member.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_carrier_member.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_carrier_member.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_carrier_member.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_carrier_member.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_carrier_member temp_carrier_member
    set temp_carrier_member.carrier_member_id = #{record.carrierMemberId,jdbcType=VARCHAR},
      temp_carrier_member.member_name = #{record.memberName,jdbcType=VARCHAR},
      temp_carrier_member.member_password = #{record.memberPassword,jdbcType=VARCHAR},
      temp_carrier_member.traders_password = #{record.tradersPassword,jdbcType=VARCHAR},
      temp_carrier_member.live_address = #{record.liveAddress,jdbcType=VARCHAR},
      temp_carrier_member.member_photo = #{record.memberPhoto,jdbcType=VARCHAR},
      temp_carrier_member.registration_time = #{record.registrationTime,jdbcType=TIMESTAMP},
      temp_carrier_member.last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      temp_carrier_member.email = #{record.email,jdbcType=VARCHAR},
      temp_carrier_member.member_type = #{record.memberType,jdbcType=CHAR},
      temp_carrier_member.status = #{record.status,jdbcType=CHAR},
      temp_carrier_member.login_count = #{record.loginCount,jdbcType=INTEGER},
      temp_carrier_member.last_login_ip_address = #{record.lastLoginIpAddress,jdbcType=VARCHAR},
      temp_carrier_member.credit_limit = #{record.creditLimit,jdbcType=DECIMAL},
      temp_carrier_member.creditworthiness = #{record.creditworthiness,jdbcType=INTEGER},
      temp_carrier_member.surplus_monney = #{record.surplusMonney,jdbcType=DECIMAL},
      temp_carrier_member.deliver_success = #{record.deliverSuccess,jdbcType=INTEGER},
      temp_carrier_member.deliver_fail = #{record.deliverFail,jdbcType=INTEGER},
      temp_carrier_member.audit_state = #{record.auditState,jdbcType=CHAR},
      temp_carrier_member.audit = #{record.audit,jdbcType=VARCHAR},
      temp_carrier_member.audit_opinion = #{record.auditOpinion,jdbcType=VARCHAR},
      temp_carrier_member.audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      temp_carrier_member.remark = #{record.remark,jdbcType=VARCHAR},
      temp_carrier_member.creater = #{record.creater,jdbcType=VARCHAR},
      temp_carrier_member.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_carrier_member.updater = #{record.updater,jdbcType=VARCHAR},
      temp_carrier_member.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.carrier.CarrierMember" >
    update t_carrier_member
    <set >
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberPassword != null" >
        member_password = #{memberPassword,jdbcType=VARCHAR},
      </if>
      <if test="tradersPassword != null" >
        traders_password = #{tradersPassword,jdbcType=VARCHAR},
      </if>
      <if test="liveAddress != null" >
        live_address = #{liveAddress,jdbcType=VARCHAR},
      </if>
      <if test="memberPhoto != null" >
        member_photo = #{memberPhoto,jdbcType=VARCHAR},
      </if>
      <if test="registrationTime != null" >
        registration_time = #{registrationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null" >
        member_type = #{memberType,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="loginCount != null" >
        login_count = #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="lastLoginIpAddress != null" >
        last_login_ip_address = #{lastLoginIpAddress,jdbcType=VARCHAR},
      </if>
      <if test="creditLimit != null" >
        credit_limit = #{creditLimit,jdbcType=DECIMAL},
      </if>
      <if test="creditworthiness != null" >
        creditworthiness = #{creditworthiness,jdbcType=INTEGER},
      </if>
      <if test="surplusMonney != null" >
        surplus_monney = #{surplusMonney,jdbcType=DECIMAL},
      </if>
      <if test="deliverSuccess != null" >
        deliver_success = #{deliverSuccess,jdbcType=INTEGER},
      </if>
      <if test="deliverFail != null" >
        deliver_fail = #{deliverFail,jdbcType=INTEGER},
      </if>
      <if test="auditState != null" >
        audit_state = #{auditState,jdbcType=CHAR},
      </if>
      <if test="audit != null" >
        audit = #{audit,jdbcType=VARCHAR},
      </if>
      <if test="auditOpinion != null" >
        audit_opinion = #{auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where carrier_member_id = #{carrierMemberId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.carrier.CarrierMember" >
    update t_carrier_member
    set member_name = #{memberName,jdbcType=VARCHAR},
      member_password = #{memberPassword,jdbcType=VARCHAR},
      traders_password = #{tradersPassword,jdbcType=VARCHAR},
      live_address = #{liveAddress,jdbcType=VARCHAR},
      member_photo = #{memberPhoto,jdbcType=VARCHAR},
      registration_time = #{registrationTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      email = #{email,jdbcType=VARCHAR},
      member_type = #{memberType,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      login_count = #{loginCount,jdbcType=INTEGER},
      last_login_ip_address = #{lastLoginIpAddress,jdbcType=VARCHAR},
      credit_limit = #{creditLimit,jdbcType=DECIMAL},
      creditworthiness = #{creditworthiness,jdbcType=INTEGER},
      surplus_monney = #{surplusMonney,jdbcType=DECIMAL},
      deliver_success = #{deliverSuccess,jdbcType=INTEGER},
      deliver_fail = #{deliverFail,jdbcType=INTEGER},
      audit_state = #{auditState,jdbcType=CHAR},
      audit = #{audit,jdbcType=VARCHAR},
      audit_opinion = #{auditOpinion,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where carrier_member_id = #{carrierMemberId,jdbcType=VARCHAR}
  </update>
</mapper>