<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glacier.frame.dao.carrier.CarrierContractRecordMapper" >
  <resultMap id="BaseResultMap" type="com.glacier.frame.entity.carrier.CarrierContractRecord" >
    <id column="temp_carrier_contract_record_contract_record_id" property="contractRecordId" jdbcType="VARCHAR" />
    <result column="temp_carrier_contract_record_deliver_id" property="deliverId" jdbcType="VARCHAR" />
    <result column="temp_carrier_contract_record_carrier_member_id" property="carrierMemberId" jdbcType="VARCHAR" />
    <result column="temp_carrier_contract_record_platform_id" property="platformId" jdbcType="VARCHAR" />
    <result column="temp_carrier_contract_record_contract_type" property="contractType" jdbcType="VARCHAR" />
    <result column="temp_carrier_contract_record_status" property="status" jdbcType="CHAR" />
    <result column="temp_carrier_contract_record_contract_content" property="contractContent" jdbcType="VARCHAR" />
    <result column="temp_carrier_contract_record_enable_time" property="enableTime" jdbcType="TIMESTAMP" />
    <result column="temp_carrier_contract_record_disable_time" property="disableTime" jdbcType="TIMESTAMP" />
    <result column="temp_carrier_contract_record_remark" property="remark" jdbcType="VARCHAR" />
    <result column="temp_carrier_contract_record_creater" property="creater" jdbcType="VARCHAR" />
    <result column="temp_carrier_contract_record_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="temp_carrier_contract_record_updater" property="updater" jdbcType="VARCHAR" />
    <result column="temp_carrier_contract_record_update_time" property="updateTime" jdbcType="TIMESTAMP" />
    
    <!--<result column="temp_carrier_contract_record_dispatch_display" property="dispatchDisplay" jdbcType="VARCHAR"/> 自定义扩展字段 -->
    <!--<result column="temp_carrier_contract_record_platform_display" property="platformDisplay" jdbcType="VARCHAR"/> 自定义扩展字段 -->
   
    <result column="temp_carrier_contract_record_carrier_display" property="carrierDisplay" jdbcType="VARCHAR"/>
	<result column="temp_carrier_contract_record_member_display" property="memberDisplay" jdbcType="VARCHAR"/> <!--  自定义扩展字段 -->
    <result column="temp_carrier_contract_record_contract_type_display" property="contractTypeDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_carrier_contract_record_creater_display" property="createrDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    <result column="temp_carrier_contract_record_updater_display" property="updaterDisplay" jdbcType="VARCHAR"/> <!-- 自定义扩展字段 -->
    
    
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    temp_carrier_contract_record.contract_record_id as temp_carrier_contract_record_contract_record_id, 
    temp_carrier_contract_record.deliver_id as temp_carrier_contract_record_deliver_id, 
    temp_carrier_contract_record.carrier_member_id as temp_carrier_contract_record_carrier_member_id, 
    temp_carrier_contract_record.platform_id as temp_carrier_contract_record_platform_id, 
    temp_carrier_contract_record.contract_type as temp_carrier_contract_record_contract_type, 
    temp_carrier_contract_record.status as temp_carrier_contract_record_status, temp_carrier_contract_record.contract_content as temp_carrier_contract_record_contract_content, 
    temp_carrier_contract_record.enable_time as temp_carrier_contract_record_enable_time, 
    temp_carrier_contract_record.disable_time as temp_carrier_contract_record_disable_time, 
    temp_carrier_contract_record.remark as temp_carrier_contract_record_remark, temp_carrier_contract_record.creater as temp_carrier_contract_record_creater, 
    temp_carrier_contract_record.create_time as temp_carrier_contract_record_create_time, 
    temp_carrier_contract_record.updater as temp_carrier_contract_record_updater, temp_carrier_contract_record.update_time as temp_carrier_contract_record_update_time
    
    <!-- 以下字段属于扩展 -->
    ,temp_carrier_member.member_name as temp_carrier_contract_record_carrier_display 
    ,temp_member_contract_type.contract_type_name as  temp_carrier_contract_record_contract_type_display
    ,temp_creater.user_cn_name as  temp_carrier_contract_record_creater_display
    ,temp_updater.user_cn_name as  temp_carrier_contract_record_updater_display    
    
  </sql>
  
  <sql id="Base_extend">
	<!--     LEFT JOIN t_carrier_member temp_carrier_member ON temp_carrier_member.carrier_member_id =temp_carrier_contract_record.carrier_member_id -->
    LEFT JOIN t_carrier_member  temp_carrier_member ON temp_carrier_member.carrier_member_id =temp_carrier_contract_record.carrier_member_id<!-- 扩展 -->
    LEFT JOIN t_member_contract_type  temp_member_contract_type ON temp_member_contract_type.contract_type_id =temp_carrier_contract_record.contract_type <!-- 扩展 -->
    LEFT JOIN t_user temp_creater ON temp_creater.user_id =temp_carrier_contract_record.creater <!-- 扩展 -->
    LEFT JOIN t_user temp_updater ON temp_updater.user_id =temp_carrier_contract_record.updater <!-- 扩展 -->
  </sql>
  
 <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.glacier.frame.entity.carrier.CarrierContractRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_carrier_contract_record temp_carrier_contract_record
     <include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_carrier_contract_record temp_carrier_contract_record
    <include refid="Base_extend" />
    where temp_carrier_contract_record.contract_record_id = #{contractRecordId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_carrier_contract_record
    where contract_record_id = #{contractRecordId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.glacier.frame.entity.carrier.CarrierContractRecordExample" >
    delete from t_carrier_contract_record temp_carrier_contract_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.glacier.frame.entity.carrier.CarrierContractRecord" >
    insert into t_carrier_contract_record (contract_record_id, deliver_id, carrier_member_id, 
      platform_id, contract_type, status, 
      contract_content, enable_time, disable_time, 
      remark, creater, create_time, 
      updater, update_time)
    values (#{contractRecordId,jdbcType=VARCHAR}, #{deliverId,jdbcType=VARCHAR}, #{carrierMemberId,jdbcType=VARCHAR}, 
      #{platformId,jdbcType=VARCHAR}, #{contractType,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{contractContent,jdbcType=VARCHAR}, #{enableTime,jdbcType=TIMESTAMP}, #{disableTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.glacier.frame.entity.carrier.CarrierContractRecord" >
    insert into t_carrier_contract_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contractRecordId != null" >
        contract_record_id,
      </if>
      <if test="deliverId != null" >
        deliver_id,
      </if>
      <if test="carrierMemberId != null" >
        carrier_member_id,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
      <if test="contractType != null" >
        contract_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="contractContent != null" >
        contract_content,
      </if>
      <if test="enableTime != null" >
        enable_time,
      </if>
      <if test="disableTime != null" >
        disable_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contractRecordId != null" >
        #{contractRecordId,jdbcType=VARCHAR},
      </if>
      <if test="deliverId != null" >
        #{deliverId,jdbcType=VARCHAR},
      </if>
      <if test="carrierMemberId != null" >
        #{carrierMemberId,jdbcType=VARCHAR},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null" >
        #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="contractContent != null" >
        #{contractContent,jdbcType=VARCHAR},
      </if>
      <if test="enableTime != null" >
        #{enableTime,jdbcType=TIMESTAMP},
      </if>
      <if test="disableTime != null" >
        #{disableTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.glacier.frame.entity.carrier.CarrierContractRecordExample" resultType="java.lang.Integer" >
    select count(*) from t_carrier_contract_record temp_carrier_contract_record
    <include refid="Base_extend" />
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_carrier_contract_record temp_carrier_contract_record
    <set >
      <if test="record.contractRecordId != null" >
        temp_carrier_contract_record.contract_record_id = #{record.contractRecordId,jdbcType=VARCHAR},
      </if>
      <if test="record.deliverId != null" >
        temp_carrier_contract_record.deliver_id = #{record.deliverId,jdbcType=VARCHAR},
      </if>
      <if test="record.carrierMemberId != null" >
        temp_carrier_contract_record.carrier_member_id = #{record.carrierMemberId,jdbcType=VARCHAR},
      </if>
      <if test="record.platformId != null" >
        temp_carrier_contract_record.platform_id = #{record.platformId,jdbcType=VARCHAR},
      </if>
      <if test="record.contractType != null" >
        temp_carrier_contract_record.contract_type = #{record.contractType,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        temp_carrier_contract_record.status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.contractContent != null" >
        temp_carrier_contract_record.contract_content = #{record.contractContent,jdbcType=VARCHAR},
      </if>
      <if test="record.enableTime != null" >
        temp_carrier_contract_record.enable_time = #{record.enableTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.disableTime != null" >
        temp_carrier_contract_record.disable_time = #{record.disableTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        temp_carrier_contract_record.remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        temp_carrier_contract_record.creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        temp_carrier_contract_record.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        temp_carrier_contract_record.updater = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        temp_carrier_contract_record.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_carrier_contract_record temp_carrier_contract_record
    set temp_carrier_contract_record.contract_record_id = #{record.contractRecordId,jdbcType=VARCHAR},
      temp_carrier_contract_record.deliver_id = #{record.deliverId,jdbcType=VARCHAR},
      temp_carrier_contract_record.carrier_member_id = #{record.carrierMemberId,jdbcType=VARCHAR},
      temp_carrier_contract_record.platform_id = #{record.platformId,jdbcType=VARCHAR},
      temp_carrier_contract_record.contract_type = #{record.contractType,jdbcType=VARCHAR},
      temp_carrier_contract_record.status = #{record.status,jdbcType=CHAR},
      temp_carrier_contract_record.contract_content = #{record.contractContent,jdbcType=VARCHAR},
      temp_carrier_contract_record.enable_time = #{record.enableTime,jdbcType=TIMESTAMP},
      temp_carrier_contract_record.disable_time = #{record.disableTime,jdbcType=TIMESTAMP},
      temp_carrier_contract_record.remark = #{record.remark,jdbcType=VARCHAR},
      temp_carrier_contract_record.creater = #{record.creater,jdbcType=VARCHAR},
      temp_carrier_contract_record.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      temp_carrier_contract_record.updater = #{record.updater,jdbcType=VARCHAR},
      temp_carrier_contract_record.update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.glacier.frame.entity.carrier.CarrierContractRecord" >
    update t_carrier_contract_record
    <set >
      <if test="deliverId != null" >
        deliver_id = #{deliverId,jdbcType=VARCHAR},
      </if>
      <if test="carrierMemberId != null" >
        carrier_member_id = #{carrierMemberId,jdbcType=VARCHAR},
      </if>
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null" >
        contract_type = #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="contractContent != null" >
        contract_content = #{contractContent,jdbcType=VARCHAR},
      </if>
      <if test="enableTime != null" >
        enable_time = #{enableTime,jdbcType=TIMESTAMP},
      </if>
      <if test="disableTime != null" >
        disable_time = #{disableTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where contract_record_id = #{contractRecordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.glacier.frame.entity.carrier.CarrierContractRecord" >
    update t_carrier_contract_record
    set deliver_id = #{deliverId,jdbcType=VARCHAR},
      carrier_member_id = #{carrierMemberId,jdbcType=VARCHAR},
      platform_id = #{platformId,jdbcType=VARCHAR},
      contract_type = #{contractType,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      contract_content = #{contractContent,jdbcType=VARCHAR},
      enable_time = #{enableTime,jdbcType=TIMESTAMP},
      disable_time = #{disableTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where contract_record_id = #{contractRecordId,jdbcType=VARCHAR}
  </update>
</mapper>